server {
    listen       80;
    server_name  localhost;

    access_log /var/log/nginx/lighthouse_access_logs_compression;
    error_log /var/log/nginx/lighthouse_access_logs_error_log;

    location / {
        root   {{ lighthouse_dir }};
        index   index.html;
    }
}